.address {
  display: block;
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.post-address {
  color: var(--title-color);
}

.footer__address_mail-phone {
  color: rgba(255, 255, 255, 0.6);
}
