.contacts {
  display: inline-flex;
  justify-content: center;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.contacts__item {
  justify-content: flex-end;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 84px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}
