.mobile-menu {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  z-index: 100;
  padding: 48px 48px 48px 40px;

  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: right var(--animation);

  &.is-open {
    right: 0;
  }
}

.icon-close-mobile-menu {
  display: none;
}

.is-open {
  .icon-close-mobile-menu {
    display: block;
  }

  .icon-mobile-menu {
    display: none;
  }
}

.mobile-menu-button {
  position: relative;
  z-index: 101;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  transition: fill var(--animation);

  &:hover .icon,
  &:focus .icon {
    fill: var(--accent-color);
  }
}

.mobile-menu-icon {
  width: 40px;
  height: 40px;
  fill: var(--main-text-color);
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__item {
  display: block;
  margin-bottom: 32px;
}

.mobile-menu__link_current {
  color: var(--accent-color);
}

.mobile-contacts__link_phone {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mobile-contacts__link_mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-cocial__link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
