:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --main-bg-color: #e5e5e5;
  --grey-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --border-header-color: #ececec;
  --border-portfolio-color: #eeeeee;
  --hover-button-color: #188ce8;
  --team-social-icon-color: #afb1b8;
  --social-bg-icon-color: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
