.features__grid {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  flex-basis: calc((100% - 30px * 3) / 4);
  margin-right: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-color: var(--grey-bg-color);
    background-size: 70px 70px;
    border-radius: 4px;
    background-position: center;
    margin-bottom: 30px;
  }
}

.features__item_antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.features__item_clock::before {
  background-image: url(../images/icons/clock.svg);
}

.features__item_diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.features__item_astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.features__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
